* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Work Sans', sans-serif;
    list-style: none;
}

/* banner section */
.banner {
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
}

.banner-text {
    max-width: 500px;
    text-align: right;
    margin: 200px 200px 350px 0;
}

.banner-title {
    color: #151414;
    font-size: 55px;
    font-weight: 700;
}

.banner-description {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    margin: 30px 0;
}

.btn-banner {
    font-size: 20px;
    font-weight: 600;
    color: white;
    padding: 20px 25px;
    border-radius: 5px;
    background: #F15B22;
    border: none;
}

/* past section */
.past {
    display: flex;
    margin-left: 250px;
    padding: 100px 0;
    align-items: center;
    gap: 90px;
    margin-right: 200px;
}

.image {
    width: 450px;
}

.past-text {
    max-width: 425px;
}

.past-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}

.past-description {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    margin: 25px 0 15px;
    line-height: 26px;
}

.point {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.fa-check {
    color: rgb(65, 212, 65);
}

/* plan section */
.plan-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.plan-container {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px 100px;
    gap: 50px;
}

.plan-topic {
    text-align: center;
}

.plan-icon {
    width: 90px;
    height: 90px;
}

.plan-topic-title {
    color: #151414;
    font-size: 25px;
    font-weight: 700;
    margin: 15px 0;
}

.plan-topic-text {
    color: #737272;
    font-size: 18px;
    font-weight: 500;
}